* {
  font-family: monospace;
  font-size: 14px;
}

window#waybar {
  background: rgba(43, 48, 59, 0.5);
  color: #ffffff;
}

#workspaces button {
  padding: 0 5px;
  color: #ffffff;
}

#taskbar button {
  padding: 5px;
  border-left: 3px solid transparent;
}

#taskbar button.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 3px solid #ffffff;
  color: #ffffff;
}

#taskbar button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#memory.warning {
  color: #f1c40f;
}

#memory.critical {
  color: #e74c3c;
}
